    h1{
         color: green;
         text-align: center;
         }

    h4{
         color: green;
         text-align: center;
         }

    th{
         color: darkgreen;
         }

    td{
         color: dark;
         }

    div{
         background-color:lightgreen;
         width:280px;
         height:80px;
         margin: 0px;
         padding:auto;
    }
